**/.classpath
**/.project
**/.settings/**
**/target/**
target/**
**/bin/**
**/.springBeans
.idea/*
*.iml
velocity.log*
.project
.settings/**
**/rebel.xml*
/target
/.apt_generated
**/.DS_Store
.DS_Store
.classpath
